
    <ul class="items-list inventory-list">
        {{#each actor.features as |section sid|}}
            {{#each section.items as |item iid|}}
                <li class="item loot-trigger rarity-{{#if item.system.rarity}}{{item.system.rarity}}{{else}}common{{/if}}"
                    data-item-id="{{item._id}}"
                    data-item-quantity="{{item.quantity}}"
                    data-item-weight="{{lootsheetweight item.system.weight}}{{lootsheetstackweight item.system.weight item.quantity}}"
                    data-item-weight-hanging="{{lootsheetweight item.system.weight}}{{lootsheetstackweight item.system.weight item.quantity}}"
                    data-item-description="{{item.description.value}}"
                    data-item-name="{{item.name}}"
                    >
                    <div class="image" style="background-image: url({{item.img}})">
                        <span class="quantity">{{item.quantity}}</span>
                    </div>
                </li>
            {{/each}}
        {{/each}}
    </ul>

    <div class="inventory-filters flexrow">
        {{#ifeq lootsheettype "Loot"}}
            <ul class="currency flexrow">
                {{#each currency as |c i|}}
                    <li class="coin currency-item coin-{{i}}" title="{{lookup (lookup ../config.currencies i) 'label'}}">
                        <input type="text" name="currency.{{i}}" value="{{c}}" data-dtype="number"/>
                    </li>
                {{/each}}
            </ul>
            <ul class="currency flexrow">
                {{#each actor.flags.lootsheetnpc5e.currency as |c i|}}
                <li class="denomination {{i}}">
                    <aside class="denomination-value">
                        <em>{{c}} each</em>
                    </aside>
                </li>
                {{/each}}
            </ul>
        {{/ifeq}}
        <ol class="currency inventory flexrow">
            <span style="flex: 0 0 60px;">
                <h3>Totals</h3>
            </span>
            <span><label>Items</label> <span>{{totalItems}}</span></span>
            <span><label>Quantity</label> <span>{{totalQuantity}}</span></span>
            <span><label>Weight</label> <span>{{totalWeight}}</span></span>
            <span><label>Value</label> <span>{{totalPrice}}</span></span>
        </ol>
    </div>